<main class="container flex-fill py-4 my-4 border shadow p-3 mb-5 bg-white rounded" style="max-width:600px;">
<h1 class="Ribeye">PARTY TIME</h1>
<p>以下のメンバーが登録されました</p>
<%
    num = session[:number].to_i
    for i in 0..num
%>
<p><%= session[:member][i] %> さん</p>
<% end %>
<br>
<p><a href="/event"  class="btn btn-outline-secondary">組み合わせ結果を見る</a></p>
<!--<p><a href="/sample/App?action=reDo">もう一度、入力し直す</a></p> -->
</main>