<div id="box" class="css1 inner">
	<div id="msg"><p>ARE YOU READY?</p></div>
</div>

<script>
window.addEventListener('turbolinks:load', function() {
	//変数
	var max = 0;
	var count = 3;

	//要素
	var box = document.getElementById("box");
	var msg = document.getElementById("msg");

	var timerID = setInterval( function(){

	if (count == max) {
		clearInterval(timerID);
		window.location.href = '/result'; // 通常の遷移
		//box.classList.remove("css1");
		//box.classList.add("css2");
		//msg.innerHTML = '<a href="https://chiebukuro.yahoo.co.jp/" target="_self">「知恵袋」へジャンプ</a>';
	} else {
		msg.textContent = count;
		count--;
	}

	}, 1000);
	
})
</script>