// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.outer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.inner{
  text-align: center;
}

.Ribeye {
	font-family: 'Ribeye', cursive;
	margin-bottom: 20px;
}

input {
    text-align: center;
}

.col-6 {
	margin: auto;
}

.css1 {
	font-family: 'arial black';
	font-size: 150px;
	color: white;
	tex-align: center;
}

.fade1 {
  animation: fadeIn 5s 1 normal;
}

@keyframes fadeIn { /*animation-nameで設定した値を書く*/
  0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
}